In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_absolute_error

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.expand_frame_repr', False)

In [ ]:
cdf = pd.read_csv('/content/drive/MyDrive/Cricket_Analytics/Model_data_cricket.csv')

In [ ]:
cdf.head()

       id  inning                 batting_team    bowling_team  over  ball  total_runs  player_dismissed                  venue  total  total_score  prev_30_runs  prev_30_wickets  total_wickets  prev_30_dot_balls  prev_30_boundaries
0  597999       1  Royal Challengers Bangalore  Mumbai Indians     0     5           0                 0  M Chinnaswamy Stadium    156            0             0                0              0                  1                   0
1  597999       1  Royal Challengers Bangalore  Mumbai Indians     0     6           0                 0  M Chinnaswamy Stadium    156            0             0                0              0                  2                   0
2  597999       1  Royal Challengers Bangalore  Mumbai Indians     1     1           0                 0  M Chinnaswamy Stadium    156            0             0                0              0                  3                   0
3  597999       1  Royal Challengers Bangalore  Mumbai Indians     1     6           0                 0  M Chinnaswamy Stadium    156            0             0                0              0                  4                   0
4  597999       1  Royal Challengers Bangalore  Mumbai Indians     2     1           1                 0  M Chinnaswamy Stadium    156            1             1                0              0                  4                   0

In [ ]:
temp = cdf.copy()
temp = pd.get_dummies(data=temp, columns=['batting_team', 'bowling_team', 'venue'])
temp = temp[['id', 'total_score','total_wickets','prev_30_runs','prev_30_wickets','prev_30_dot_balls','prev_30_boundaries','total', 'over', 'ball','batting_team_Chennai Super Kings', 'batting_team_Delhi Capitals',
       'batting_team_Kings XI Punjab', 'batting_team_Kolkata Knight Riders',
       'batting_team_Mumbai Indians', 'batting_team_Rajasthan Royals',
       'batting_team_Royal Challengers Bangalore', 'batting_team_Sunrisers Hyderabad',
       'bowling_team_Chennai Super Kings', 'bowling_team_Delhi Capitals',
       'bowling_team_Kings XI Punjab', 'bowling_team_Kolkata Knight Riders',
       'bowling_team_Mumbai Indians', 'bowling_team_Rajasthan Royals',
       'bowling_team_Royal Challengers Bangalore', 'bowling_team_Sunrisers Hyderabad',
       'venue_Barabati Stadium', 'venue_Brabourne Stadium',
       'venue_Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'venue_Dubai International Cricket Stadium', 'venue_Eden Gardens',
       'venue_Feroz Shah Kotla',
       'venue_Himachal Pradesh Cricket Association Stadium',
       'venue_Holkar Cricket Stadium',
       'venue_JSCA International Stadium Complex',
       'venue_M Chinnaswamy Stadium', 'venue_M.Chinnaswamy Stadium',
       'venue_MA Chidambaram Stadium, Chepauk',
       'venue_Maharashtra Cricket Association Stadium',
       'venue_Punjab Cricket Association IS Bindra Stadium, Mohali',
       'venue_Punjab Cricket Association Stadium, Mohali',
       'venue_Rajiv Gandhi International Stadium, Uppal',
       'venue_Sardar Patel Stadium, Motera', 'venue_Sawai Mansingh Stadium',
       'venue_Sharjah Cricket Stadium', 'venue_Sheikh Zayed Stadium',
       'venue_Wankhede Stadium']]

In [ ]:
X = temp.drop(labels=['total','id'], axis=1)
y = temp['total'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,random_state=42,stratify=y)

In [ ]:
X_train=X_train.values
X_test=X_test.values
X_train=np.asarray(X_train).astype(np.float32)
X_test=np.asarray(X_test).astype(np.float32)

In [ ]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(65827, 45) (16457, 45) (65827,) (16457,)

In [ ]:
filename = '/content/drive/MyDrive/Cricket_Analytics/rf_cricket-model.pkl'

In [ ]:
import pickle
regressor = pickle.load(open(filename, 'rb'))

In [ ]:
prediction = regressor.predict(X_test)

In [ ]:
print(mean_absolute_error(y_test, prediction))

3.7638693789297943

In [ ]:
from keras.utils.np_utils import to_categorical
def encode_team1(team1):
    if team1 == 'batting_team_Chennai Super Kings':
        return (to_categorical([0], num_classes = 8))[0]
    elif team1 == 'batting_team_Delhi Capitals' :
        return (to_categorical([1], num_classes = 8))[0]
    elif team1 == 'batting_team_Kings XI Punjab':
        return (to_categorical([2], num_classes = 8))[0]
    elif team1 == 'batting_team_Kolkata Knight Riders':
        return (to_categorical([3], num_classes = 8))[0]
    elif team1 == 'batting_team_Mumbai Indians':
        return (to_categorical([4], num_classes = 8))[0]
    elif team1 == 'batting_team_Rajasthan Royals':
        return (to_categorical([5], num_classes = 8))[0]
    elif team1 == 'batting_team_Royal Challengers Bangalore':
        return (to_categorical([6], num_classes = 8))[0]
    elif team1 == 'batting_team_Sunrisers Hyderabad':
        return (to_categorical([7], num_classes = 8))[0]
def encode_team2(team2):
    if team2 == 'bowling_team_Chennai Super Kings':
        return (to_categorical([0], num_classes = 8))[0]
    elif team2 == 'bowling_team_Delhi Capitals' :
        return (to_categorical([1], num_classes = 8))[0]
    elif team2 == 'bowling_team_Kings XI Punjab':
        return (to_categorical([2], num_classes = 8))[0]
    elif team2 == 'bowling_team_Kolkata Knight Riders':
        return (to_categorical([3], num_classes = 8))[0]
    elif team2 == 'bowling_team_Mumbai Indians':
        return (to_categorical([4], num_classes = 8))[0]
    elif team2 == 'bowling_team_Rajasthan Royals':
        return (to_categorical([5], num_classes = 8))[0]
    elif team2 == 'bowling_team_Royal Challengers Bangalore':
        return (to_categorical([6], num_classes = 8))[0]
    elif team2 == 'bowling_team_Sunrisers Hyderabad':
        return (to_categorical([7], num_classes = 8))[0]

def encode_venue(venue):    
    if venue == 'venue_Barabati Stadium':
        return (to_categorical([0], num_classes = 21))[0]
    elif venue == 'venue_Brabourne Stadium':
        return (to_categorical([1], num_classes = 21))[0]
    elif venue == 'venue_Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium':
        return (to_categorical([2], num_classes = 21))[0]
    elif venue == 'venue_Dubai International Cricket Stadium':
        return (to_categorical([3], num_classes = 21))[0]
    elif venue == 'venue_Eden Gardens':
        return (to_categorical([4], num_classes = 21))[0]
    elif venue == 'venue_Feroz Shah Kotla':
        return (to_categorical([5], num_classes = 21))[0]
    elif venue == 'venue_Himachal Pradesh Cricket Association Stadium':
        return (to_categorical([6], num_classes = 21))[0]
    elif venue == 'venue_Holkar Cricket Stadium':
        return (to_categorical([7], num_classes = 21))[0]
    elif venue == 'venue_JSCA International Stadium Complex':
        return (to_categorical([8], num_classes = 21))[0]
    elif venue == 'venue_M Chinnaswamy Stadium':
        return (to_categorical([9], num_classes = 21))[0]
    elif venue == 'venue_M.Chinnaswamy Stadium':
        return (to_categorical([10], num_classes = 21))[0]
    elif venue == 'venue_MA Chidambaram Stadium, Chepauk':
        return (to_categorical([11], num_classes = 21))[0]
    elif venue == 'venue_Maharashtra Cricket Association Stadium':
        return (to_categorical([12], num_classes = 21))[0]
    elif venue == 'venue_Punjab Cricket Association IS Bindra Stadium, Mohali':
        return (to_categorical([13], num_classes = 21))[0]
    elif venue == 'venue_Punjab Cricket Association Stadium, Mohali':
        return (to_categorical([14], num_classes = 21))[0]
    elif venue == 'venue_Rajiv Gandhi International Stadium, Uppal':
        return (to_categorical([15], num_classes = 21))[0]
    elif venue == 'venue_Sardar Patel Stadium, Motera':
        return (to_categorical([16], num_classes = 21))[0]
    elif venue == 'venue_Sawai Mansingh Stadium':
        return (to_categorical([17], num_classes = 21))[0]
    elif venue == 'venue_Sharjah Cricket Stadium':
        return (to_categorical([18], num_classes = 21))[0]
    elif venue == 'venue_Sheikh Zayed Stadium':
        return (to_categorical([19], num_classes = 21))[0]
    elif venue == 'venue_Wankhede Stadium':
        return (to_categorical([20], num_classes = 21))[0]

In [ ]:
team1 = 'batting_team_Sunrisers Hyderabad'
team2 = 'bowling_team_Delhi Capitals'
venue = 'venue_MA Chidambaram Stadium, Chepauk'
over = 14
ball = 6

total_score =  110# current score

total_wickets = 4# current wicket 

prev_runs_30 =  30# runs in last 30 balls

prev_wickets_30 = 2# wickets in last 30 balls

prev_30_dot_balls = 10  # dots in last 30 balls

prev_30_boundaries =2 # boundaries in last 30 balls
array = [total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries, over, ball]
array.extend(encode_team1(team1))
array.extend(encode_team2(team2))
array.extend(encode_venue(venue))
data = np.array([array])
my_prediction = int(regressor.predict(data))

print('Predicted score: ',my_prediction)
print('Predicted score range: ',my_prediction - 3, 'to' , my_prediction + 3)

Predicted score:  153
Predicted score range:  150 to 156